body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('img/friday132.png') no-repeat center center fixed;
    background-color: black;
    background-position: center calc(50% - 250px);
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    z-index: 10;
}

.container {
    background: rgba(20, 20, 20, 0.85);
    border: 2px solid rgb(185, 23, 23);
    padding: 0.8rem 1.6rem;
    border-radius: 12px;
    box-shadow: 0 0 20px red;
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-top: 150px;
    z-index: 10;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 0 0 5px red;
}

.red {
    color: red;
    text-shadow: 0 0 5px red;
}

input[type="date"] {
    background: #111;
    color: white;
    border: 2px solid red;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: red;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0.5rem;
    box-shadow: 0 0 20px #c71205;
}

button:hover {
    background: #00ccff;
    box-shadow: 0 0 15px #00ccff;
}

#result {
    margin-top: 1rem;
    font-size: 1rem;
    color: red;
    text-shadow: 0 0 5px red;
}

#jason {
    position: fixed;
    left: 1700px;
    top: 50%;
    height: 200px;
    z-index: 10;
    pointer-events: none;
    display: none;
}

#jason2 {
    position: fixed;
    right: 150px;
    top: 35%;
    height: 600px;
    z-index: 10;
    pointer-events: none;
    display: none;
}

#jason3 {
    position: fixed;
    left: 1000px;
    top: 20%;
    height: 700px;
    z-index: 10;
    pointer-events: none;
    display: none;
}

#jason4 {
    position: fixed;
    right: 500px;
    top: -8%;
    height: 1200px;
    z-index: 10;
    pointer-events: none;
    display: none;
}

/* #blood-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/blood.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.2;
    z-index: 1;
    display: none;
} */

#blood-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;     /* full viewport width */
    height: 100vh;    /* full viewport height */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.2;
    z-index: 1;
    pointer-events: none; /* so it doesn't block clicks */
}
